<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="itstam.masboletos">

    <application
        android:allowBackup="true"
        android:icon="@drawable/mbiconor"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mbiconor"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".UbicacionAct" />
        <activity android:name=".Splash_Principal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>